use_default_settings: true

general:
  instance_name: "Personal Intelligence Search"

search:
  safe_search: 0
  autocomplete: ""
  default_lang: "zh-CN"
  formats:
    - html
    - json

server:
  bind_address: "0.0.0.0"
  port: 8080
  secret_key: "__SECRET_KEY__"
  limiter: false
  image_proxy: false

ui:
  static_use_hash: true

outgoing:
  request_timeout: 6.0
  max_request_timeout: 15.0
